#widget-container h2 {
    color: var(--theia-ui-font-color1);
    font-size: 12px;
    font-weight: 400;
    padding: 10px;
    text-transform: uppercase;
}
.main-area {
    width: 80%;
    float: left;
    padding: 20px;
    border: 1px solid;
    margin-left: 20px;
    height: 60vh;
}
.sidebar{
    width: 15%;
    float: right;
}
ul li{
    padding-bottom: 10px;
}
h1{
    padding: 20px;
    text-decoration: underline;
}
.sidebar a{
    cursor: pointer;
}