div#lighthouse-dashboard\:widget {
    padding: 10% 20%;
}
.header h6{
	margin-top: -5px;
}
h5{
	padding: 5px 0;
	font-size: 1.25rem;  /* Already present */
	font-weight: normal; /* Already present */
}
.left{
	float: left;
	width: 45%;
}
.right{
	float: right;
	width: 45%;
}
.left .theia-button:first-of-type, .right .theia-button:first-of-type{
	margin:0;
}
.left .theia-button:first-of-type{
	width: 100%;
}
.progress-block{
	border: 1px solid;
	width: 100%;
	margin-bottom: 10px;
}
.section-title{
	padding: 5px 10px;
}
.progress-bar {
    border-top: 1px solid;
    height: 10px;
    width: 100%;
}