#widget-container h2 {
    color: var(--theia-ui-font-color1);
    font-size: 12px;
    font-weight: 400;
    padding: 10px;
    text-transform: uppercase;
}
#shell-tab-default-screen\:widget {
    display: none;
}
#default-screen\:widget {
    background-image: url("lighthouse.svg") !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}