/* Text area */
input:focus, textarea:focus, select:focus{
	outline: none;
}

/* Pane navigation */
.tablinks{
	padding: 15px !important;
	background-color: transparent;
	border: none;
	color: #ffffffcc;
}
.btn-secondary.active{
    color: #ffffffcc;
    background-color: transparent;
    background-image: none;
    border-color: #adadad;
    border-left: 2px solid;
}
.btn-secondary:hover{
    color: #ffffff;
    background-color: transparent;
}
.btn-secondary:focus{
	display: none;
}
.nav-tabs > li > a{
	cursor:pointer;
}

.nav-tabs li a span:hover {
    color: red;
	cursor:pointer;
}